
*{
    margin: 0;
    padding:0;
    /* height: 100vh; */
    /* width: 100%; */
    
}
/* .body{
    height: 100vh;
} */



.loginTitle,.registerTitle,.forgotPasswordTitle{
    padding-top: 22px;
    margin-top: 6rem;
    background: #2adb94;
    width: 500px;
    border-radius: 50px 50px 0 0;
    height: 90px;
    text-align: center;
}

/* .registerTitle{
    
} */

.loginContainer,.registerContainer,.forgotPasswordContainer{
    padding:0;
    width: 500px;
    /* text-align: center; */
    /* margin-left: 2rem; */
}

.formdiv{
    
    padding: 20px 20px 30px 20px;
    height: 55%;
    width: 500px;
    background-color: white;
    border-radius: 0 0 50px 50px ;
    
  text-align: center;

}

.formdiv input{
    background: rgb(242, 240, 238);
    /* padding: 0; */
}

.passwordCheck{
    color: red;
    font-size: 14px;
}

.div{
    margin-left: 90px;
}

.otpContainer{
    visibility:collapse;
}


.otpContainer input {
    width: 40px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.otpContainer input:focus {
    outline-color: blue;
   
}



.otp-error {
    border: 1px solid red;
}

.otpContainer h5{

    margin: 15px 0 0 0;
    text-align: left;

}

.otpContainer div{
    text-align: left;
    
}

.formPage{
    display:flex;
    /* justify-content: space-between; */

    height: 100%;
    width: 100%;
  

}

.img-container{
    background-size: cover; 
    width: 100%;
    /* padding: 0px; */
}  


.img-container img{
    height: 100vh;
    width: 100%;
    padding: 0px;
    /* background-size: cover; */
    
   
    /* background-color: red; */
}

.formDiv{
        display: flex;
        justify-content: center;
        width: 100%;
        /* padding: 0px; */
        /* text-align: center; */
        /* height: 100%; */
        /* background:#282828; */
    background: #212121;
    /* background: #415259; */


}
.nav-bar{
    position: -webkit-sticky;
    position:sticky;
}

.nav-container{
    display: flex;
    justify-content:first baseline;
}

.navbar{
    background-color: #2adb94;
    color: black;
    font-size: larger;
    font-weight: 700;
}

.logout-btn{
    /* font-size:large; */
     font-weight: 700;
}




.dashboard-container{
    background-color: #212121;
    color: white;
    /* height: 100vh; */
    /* padding-top: 60px; */
    /* margin-top: 60px; */

}

.file-btn{
    width: 150px;
}
.brands,.sellers{
    width: 250px;
    margin:30px 30px 30px 50px;
    background-color:#212121;
    border-radius: 10px;
    padding-bottom: 10px;

    /* height: 10px; */
    /* scrollbar-width: 10px;
    scrollbar-color: white; */
}

.rangeContainer{
    width: 330px;
    padding: 7px 0px;
    margin: 20px 11px;
    background-color: #212121;
    border-radius: 10px;
}
.range{
    width: 320px;
    justify-content: space-between;
    display: flex;
}

.rangeDiv{
    font-size:large;
    width: 75px;
    text-align: center;
}
.outOfStock{
    padding: '5px';
    margin: 0;
    font-weight: 700;
    color:red
}
.user-dropdown {
    position: relative;
    display: inline-block;
    border: solid 2px rgb(61, 61, 61);
    padding: 0px 10px;
    border-radius: 6px;
    margin: 0px 0px 0px 20px;
    height: 40px;
}


.dropdown-menu {
    display: block;
    position: absolute;
    right: 0;
        /* Align to the right edge of the parent */
     /* top: 100%; */
        /* Place below the button */
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    list-style: none;
    padding: 0px 20px;
    margin:  0;
    margin-top: 15px;
}

.dropdown-menu li {
    padding: 8px 6px;
}

/* Add this CSS to your stylesheet */

.sticky-container {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    /* Adjust as needed */
    max-height: 100vh;
    /* Adjust as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

/* .dropdown-menu li:hover {
    background-color: #ddd;
} */


.agentRegister{
    
    padding-top: 60px;
    width: 100%;
    background-color: #212121;
    color: white;
}
.agent-breadcrumb{
    margin-left: 13px;
}
.agentRegisterContainer{
    display: flex;
    justify-content: center;  
    margin-top: 0px;
}
.agentRegisterContainer Form{
    margin-top: 0px;
width: 60%;
padding:0em 6em 6em 6em;
}
.required{
    color: red;
}

.checkboxHeader{
    display: flex;
    justify-content:space-between;
}



.breadcrumb{
    margin-bottom: 0px;
}

.breadcrumb-dark .breadcrumb-item a {
    color: #ffffff;
    
    /* Link color */
}

.breadcrumb-dark .breadcrumb-item.active {
    color: #c0c0c0;
    /* Active item color */
}

.breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before {
    color: #6c757d;
    /* Separator color */
}








@media only screen and (max-width: 1024px) {

    

        .registerContainer,.loginContainer,.forgotPasswordContainer{
            display: flex;
            margin-left: 0;
            padding: 0px;
        }

        

        .loginTitle,
        .registerTitle{
            /* height: 0px; */
            padding-top:13rem;
            width: 230px;
            margin-top: 4rem;
            /* margin-left: 0px; */
            height: 72%;
            border-radius: 50px 0 0 50px;
    
        }

         .forgotPasswordTitle {
            /* height: 0px; */
            padding-top:9rem;
            width: 230px;
            margin-top: 4rem;
            /* margin-left: 0px; */
            height: 54%;
            border-radius: 50px 0 0 50px;
    
        }

        .formdiv{
            /* display: none; */
          
            margin-top: 4rem;
                height: 72%;
                border-radius: 0 50px 50px 0;
        }

        .forgotPasswordContainer div:nth-child(2) form{
            margin-top: 4rem;
                height: 54%;
                border-radius: 0 50px 50px 0;

        }
            

        


  
    .img-container{
        height: 50%;
    }

    .img-container img{
            /* background-size: cover; */
            /* width: 100%; */
            height: 100%;
            /* padding: 0px; */
        }

    .formDiv{
        /* display: none; */
        /* justify-content:space-evenly; */
        display: flex;
            justify-content: center;

        width: 100%;
        padding-right: 20%;
        /* margin-right: 5px; */
        /* text-align: center; */
        height: 50%;
       
       }

    

    .formPage {
            /* display: none; */
            flex-direction:column-reverse;
            /* background-color: red; */
            justify-content: space-between;
    
            height: 100vh;
            /* width: 500px; */
    
    
        }

    }



/* 
@media only screen and (max-height: 1180px) {


   

.loginTitle,
    .registerTitle,
    .forgotPasswordTitle {
        height: 60px;
        margin-top: 1rem;
       
    }

    
    
} */







